<?php

/**
 * Paste into config/services.php
 */

return [
    'iran_socks5' => [
        'host' => env('IRAN_SOCKS5_HOST'),
        'port' => env('IRAN_SOCKS5_PORT', 1080),
        'user' => env('IRAN_SOCKS5_USER'),
        'pass' => env('IRAN_SOCKS5_PASS'),
    ],
];
